/* reset */
body {
    display: flex;
    background: gray;
    width: 100vw;
    justify-content: center;
}

.container-principal {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 400px;
}

h1 {
    color: aliceblue;
}

h2 {
    color: #fff;
}

p {
    color: aliceblue;
}

.container-h3 {
    width: 300px;
}

h3 {
    margin-top: 80px;
}

#conteudo {

    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    text-align: center;
    font-family: sans-serif;
    color: aliceblue;
}

.btn {
    background: black;
    color: white;
    border: none;
    padding: 10px;
    width: 80px;
    border-radius: 5px;
}

/* abas */

.container-abas input:checked+label::before {
    border-color: blue;
    box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 6px blue;
}


.container-abas label span {
    display: none;
}

.container-abas input:checked+label span {
    display: inline-block;
}


.container-abas input:checked+label {
    background-color: gray;
    color: #fff;
}

.container-abas>* {
    grid-column: 1/-1;
}

.container-abas>label {
    grid-column: initial;
}



.container-abas input[type="radio"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}


.container-abas input:checked+label+.orcamento-detalhes {
    display: grid;
}


/*----Comando de mudar Aba------*/

.contagem-conteudo {
    display: none;
    
}

#salao:checked~#contagem-salao,
#zoom:checked~#contagem-zoom {
    display: grid;
    gap: 20px;
}



.container-abas>label {
    font: 400 1rem/1.5 "Poppins", sans-serif;
    border: 1px solid blue;
    padding: 12px 16px;
    border-radius: 4px;
    cursor: pointer;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.container-abas>label::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
}



/* comando abas */

.contagem-conteudo {
    display: none;
    
}

#salao:checked~#contagem-salao,
#zoom:checked~#contagem-zoom {
    display: grid;
    gap: 20px;
}
